* {
  margin: 10px;
  padding: 20px;
}

body {
  background-color: black;
  color: aliceblue;
  border: 2px solid red;
}

h1 {
  background-color: slateblue;
}

p {
  color: brown;
}

.blanco {
  color: darkcyan;
}

.morado {
  background-color: rgb(43, 3, 81);
}

#rojo {
  color: deeppink;
}

#verde {
  background-color: aliceblue;
}
